In [113]:
import numpy as np
import pandas as pd
import math as math

In [21]:
info_gv = pd.read_csv("/Users/mathiasschmunk/Documents/GitHub/MakeIT/NSW/master_dataset_PublicSchool.csv")

In [87]:
del(info_gv["Date_1st_teacher"])

In [88]:
info_gv

,School_code,School_name,Street,Postcode,latest_year_enrolment_FTE,LBOTE_pct,ICSEA_value,Level_of_schooling,LGA,FACS_district,AECG_region,ASGS_remoteness,Latitude,Longitude,Assets unit,Date_extracted
0,1001,Abbotsford Public School,350 Great North Rd,2046,531.0,46.0,1109.0,Primary School,Canada Bay (A),"South Eastern Sydney, Northern Sydney & Sydney",Metropolitan East,Major Cities of Australia,-33.852728,151.131206,Sydney,2021-10-20
1,1002,Aberdeen Public School,Segenhoe St,2336,191.0,6.0,909.0,Primary School,Upper Hunter Shire (A),Hunter New England & Central Coast,Hunter,Inner Regional Australia,-32.166098,150.888095,Hunter/Central Coast,2021-10-20
2,1003,Abermain Public School,Goulburn St,2326,270.0,3.0,908.0,Primary School,Cessnock (C),Hunter New England & Central Coast,Hunter,Major Cities of Australia,-32.808920,151.426499,Hunter/Central Coast,2021-10-20
3,1007,Adaminaby Public School,9 Cosgrove Street,2629,19.0,0.0,971.0,Primary School,Snowy Monaro Regional (A),Illawarra Shoalhaven & Southern NSW,Lower South Coast,Outer Regional Australia,-35.993292,148.776721,Southern NSW,2021-10-20
4,1008,Adamstown Public School,Bryant St,2289,317.0,14.0,1048.0,Primary School,Newcastle (C),Hunter New England & Central Coast,Hunter,Major Cities of Australia,-32.932213,151.730971,Hunter/Central Coast,2021-10-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213,8913,Inner Sydney High School,Cnr Cleveland St & Chalmers St,2010,147.0,45.0,1098.0,Secondary School,Sydney (C),NaN,NaN,Major Cities of Australia,-33.889372,151.206030,NaN,2021-10-20
2214,8914,Centre of Excellence in Agricultural Education...,PO Box 621,2753,NaN,NaN,NaN,Secondary School,Hawkesbury (C),NaN,NaN,Major Cities of Australia,-33.614026,150.753568,NaN,2021-10-20
2215,8915,Armidale Secondary College,182 Butler Street,2350,1149.2,21.0,971.0,Secondary School,Armidale Regional (A),Hunter New England & Central Coast,North Western 2,Inner Regional Australia,-30.519371,151.650348,NaN,2021-10-20
2216,8916,Oran Park High School,1 Podium Way,2570,279.0,50.0,993.0,Secondary School,Camden (A),NaN,NaN,Major Cities of Australia,-33.998988,150.736305,NaN,2021-10-20
2217,8917,Murrumbidgee Regional High School,1-39 Poole Street,2680,1215.8,27.0,934.0,Secondary School,Griffith (C),"Murrumbidgee, Far West & Western NSW",Riverina 1,Outer Regional Australia,-34.282315,146.070718,NaN,2021-10-20

In [68]:
teacher_student_ratio = pd.read_csv("/Users/mathiasschmunk/Documents/GitHub/MakeIT/NSW/2006-2016-student-to-teacher-ratio.csv")

In [94]:
teacher_student_ratio

,year,overall_student_to_teacher_ratio,primary_student_to_teacher_ratio,secondary_student_to_teacher_ratio
0,2003,15.0,17.3,12.6
1,2004,14.8,17.0,12.5
2,2005,14.6,16.7,12.4
3,2006,14.4,16.2,12.4
4,2007,14.4,16.2,12.5
5,2008,14.3,15.9,12.4
6,2009,14.2,15.9,12.4
7,2010,14.2,15.7,12.5
8,2011,14.1,15.5,12.5
9,2012,14.1,15.5,12.4
10,2013,14.0,15.5,12.3
11,2014,14.2,15.6,12.4
12,2015,14.3,15.8,12.5
13,2016,14.3,15.6,12.5

In [75]:
teacher_student_ratio["primary_student_to_teacher_ratio"].mean()

16.02857142857143

In [76]:
teacher_student_ratio["secondary_student_to_teacher_ratio"].mean()

12.450000000000001

In [91]:
np.array(16.02857142857143,12.450000000000001)

TypeError: Cannot interpret '12.450000000000001' as a data type

In [101]:
d={"Level_of_schooling":["Primary School","Secondary School"],"Ratio":[16.02857142857143,12.450000000000001]}

In [103]:
ratio = pd.DataFrame.from_dict(d)

In [104]:
ratio

  Level_of_schooling      Ratio
0     Primary School  16.028571
1   Secondary School  12.450000

In [106]:
info_gv = pd.merge(info_gv,ratio, how = "inner", on = "Level_of_schooling")

In [107]:
info_gv["teacher_demand"] = info_gv["latest_year_enrolment_FTE"]/info_gv["Ratio"]

In [122]:
np.nansum(info_gv["teacher_demand"])

54510.53828146812